<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/dashboard.css">  
    </head>
    <body>
    <div class ="container">
    <div class="header">
        <h2 style="text-align:center">Online Dynamic Dashboard</h2>
        <h2 style="text-align:center">ADMIN</h2><br>

    </div>
    <center>
        <a href="/views/admin_login.html" class="button">Login</a><br><br>
        <a href="/views/admin_signup.html" class="button">Register</a><br><br>
    </center>
    </div>
</body>
</html>