<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/public/css/signup.css">
        <script src="https://kit.fontawesome.com/a43c0f77ad.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class ="container">
    <div class="header">
        <h2>FORGOT PASSWORD</h2>
    </div>
    <form class="form" action="/views/login.html" id="form">
        <div class="form-control">
         <input type="text" placeholder="Hello12@gmail.com" id="Email">
         <i class="fas fa-check-circle"></i>
         <i class="fas fa-exclamation-circle"></i>
         <small>Error message</small>
        </div>
        <div class="form-control">
         <input type="password" placeholder="password" id="Password">
         <i class="fas fa-check-circle"></i>
         <i class="fas fa-exclamation-circle"></i>
         <small>Error message</small>
        </div>
        <button>Reset</button>
         <script src="/public/js/login.js"></script>
    </form>
</div>
</body>
</html>