<html>
    <head>
    
        <link rel="stylesheet" type="text/css" href="/public/css/signup.css">
        <script src="https://kit.fontawesome.com/a43c0f77ad.js" crossorigin="anonymous"></script>
    </head>
    <body>
    <div class ="container">
    <div class="header">
        <h2> MEMBER REGISTER</h2>
    </div>
    <form class="form" action='/check' id="form" method="POST">
        <div class="form-control">
         <input type="text" placeholder="Hello12" id="username" name="username">
         <i class="fas fa-check-circle"></i>
         <i class="fas fa-exclamation-circle"></i>
         <small>Error message</small>
        </div>
        <div class="form-control">
            <input type="text" placeholder="hello@gmail.com" id="Email" name="Email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <input type="password" placeholder="password" id="Password" name="Password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div class="form-control">
            <input type="password" placeholder="Confirm password" id="password2">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>
        <div>Gender:<input type="radio" name="Gender" id="radio" >Male<input type="radio" name="Gender" id="radio" >Female<input type="radio" name="Gender" id="radio" >Others</div><br>
        <h6 id="error" style= "color:#e74c3c"> </h6>
         <button >Submit</button><br>
         Already have an account ? <a href="/views/admin_login.html">Sign in</a>
    
         <script src="/public/js/admin_signup.js"></script>
 </form>   
</div>
</body>
</html>